# dependencies
node_modules

# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# misc
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo